body{
    padding:0px;
    box-sizing:border-box;

margin:0px;
}
.back{
background-image:url("p6(1.jpg");
height:1300px;
width:2300px;
background-position:center;
}

.top a{
float:right;
text-decoration:solid;
font-size:41px;
color:whitesmoke;
padding:1px 49px;
}
.sign:first-of-type{
border:1px solid rgba(200, 255, 0, 0.772);
background-color:brown;
border-radius:21px;
color:yellow;
}
.main h1{
font-size:90px;
color:whitesmoke;
margin-left:42px;
margin-top:3cm;
}
.main p{
margin-left:1.5cm;
font-size:35px;
color:whitesmoke;
}
.next{
background-image:url("p10.jpg");
height:1300px;
width:2300px;
}
.points li{
font-size:40px;
color:black;
}
li span{
color:green;
}
.bt{
margin-left:12cm;
}
